* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.chat-container {
	padding: 10px;
	font-size: 0;
	font-family: sans-serif;
}

.header-container {
	height: 5%;
	font-size: 40px;
	padding: 10px;
	display: block;
}
/* Message Container*/
.message-box {
	background: rgb(50, 50, 50);
	width: 70%;
	height: 70vh;
	padding: 20px;
	display: inline-block;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	overflow: scroll;
}

.singleMessage {
	width: 100%;
	margin-bottom: 10px
}

.singleMessage:nth-child(2n + 1) {
	color: rgb( 200, 200, 200);
}

.msgUser {
	width: 30%;
	display: inline-block;
}

.msgText {
	width: 60%;
	display: inline-block;
}
/* User Container */
.user-box {
	background: rgb(150, 150, 150);
	width: 28%;
	height: 70vh;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	position: relative;
	margin-left: 2%;
	border-radius: 10px;
}

.allUsers-container {
	margin-top: 10px;
	height: 80%;
	overflow: scroll;	
}

.allUsers {
	color: white;
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 16px;
}

.newUserName, .newFullName {
	font-size: 16px;
	padding: 3px;
	margin-bottom: 3px;
	border-radius: 5px;
}

.selectStatus {
	-webkit-appearance: none;
	font-size: 16px;
	padding: 3px;
}

.userStatus {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	display: inline-block;
	margin-right: 3px
}

.userName {
	
}

.userFullName {
	font-weight: 100;
	margin-left: 5px;
	color: rgb( 200, 200, 200)
}

	/* Status */
.active {
	background: green;
	height: 10px;
	width: 10px;
}

.busy {
	background: yellow;
	height: 10px;
	width: 10px;
}

.inactive {
	background: red;
	height: 10px;
	width: 10px;
}

/* Input Container */
.input-box {
	background: rgb(100, 100, 100);
	width: 100%;
	height: 15vh;
	padding: 10px;
	margin-top: 10px;
	border-radius: 10px;
}

.textBox {
	width: 70%;
	height: 90%;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
}

.selectSubmit {
	display: inline-block;
	width: 25%;
	height: 90%;
	vertical-align: top;
	margin-left: 4%
}

.selectName {
	-webkit-appearance: none;
	height: 40%;
	width: 100%;
	font-size: 20px;
	padding: 5px;
	margin-right: 20px;
	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/TriangleArrow-Down.svg/532px-TriangleArrow-Down.svg.png") no-repeat right;
	background-size: auto 20px
}

.submit {
	height: 50%;
	width: 100%;
	font-size: 20px;
	border-radius: 5px;
	margin-top: 10px
}





